@use "variables" as v;
@use "breakpoints";

button {
  font-family: v.$base-font-family;
}

.resumeButton {
  position: relative;
  padding: 12px 45px;
  border-radius: 2em;
  font-size: 0.8em;
  border: solid v.$secondary-color;
  box-shadow: 0 0 12px v.$accent-color;
  color: v.$secondary-color;
  background-color: transparent;
  cursor: pointer;
  animation: onLoadScale 1s;

  @include breakpoints.desktop() {
    font-size: 1em;
    padding: 12px 50px;
  }
}

.resumeButton:hover {
  border-color: v.$accent-color;
  color: v.$accent-color;
  box-shadow: 0 0 20px v.$accent-color;
}

.resumeButton:active {
  background-color: rgba(45, 45, 45, 0.3);
}

@keyframes onLoadScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.viewAllButton {
  padding: 6px 20px;
  border-radius: 2em;
  font-size: 0.8em;
  border: 5px double v.$accent-color;
  box-shadow: 0 0 8px v.$accent-color;
  cursor: pointer;
  transition: all 0.3s;

  @include breakpoints.desktop() {
    font-size: 1em;
  }
}

.viewAllButton:hover {
  border-color: v.$accent-color;
  color: v.$accent-color;
  box-shadow: 0 0 20px v.$accent-color;
}

.viewAllButton:active {
  border: 5px solid;
  background-color: rgba(v.$accent-color, 0.2);
}

.seeProjectButton {
  padding: 10px 30px;
  border-radius: 2em;
  font-size: 0.8em;
  background-color: transparent;
  border: 5px double v.$accent-color;
  box-shadow: 0 0 8px v.$accent-color;
  cursor: pointer;
  transition: all 0.3s;

  @include breakpoints.desktop() {
    font-size: 1em;
  }
}

.seeProjectButton:hover {
  color: v.$accent-color;
  box-shadow: 0 0 20px v.$accent-color;
}

.seeProjectButton:active {
  border: 5px solid;
  background-color: rgba(v.$accent-color, 0.2);
}

.modalCloseButton1,
.modalCloseButton2 {
  padding: 6px 30px;
  border-radius: 2em;
  font-size: 0.8em;
  border: 5px double v.$accent-color;
  box-shadow: 0 0 8px v.$accent-color;
  cursor: pointer;
  transition: all 0.3s;

  @include breakpoints.desktop() {
    font-size: 1em;
  }
}

.modalCloseButton1:hover,
.modalCloseButton2:hover {
  color: v.$accent-color;
  box-shadow: 0 0 20px v.$accent-color;
}

.modalCloseButton1:active,
.modalCloseButton2:active {
  border: 5px solid;
  background-color: rgba(v.$accent-color, 0.2);
}

.submitButton {
  padding: 6px 20px;
  border-radius: 2em;
  font-size: 0.8em;
  border: 5px double v.$accent-color;
  box-shadow: 0 0 8px v.$accent-color;
  cursor: pointer;
  transition: all 0.3s;

  @include breakpoints.desktop() {
    font-size: 1em;
  }
}

.submitButton:hover {
  color: v.$accent-color;
  box-shadow: 0 0 20px v.$accent-color;
}

.submitButton:active {
  border: 5px solid;
  background-color: rgba(v.$accent-color, 0.2);
}

.ArrowContainer {
  display: flex;
  justify-content: center;
  gap: 2em;

  @include breakpoints.desktop() {
    gap: 4em;
    padding: 0.5em;
  }
}

.leftArrowButton,
.rightArrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  @include breakpoints.desktop() {
    width: 60px;
    height: 60px;
  }

  .leftArrowIcon,
  .rightArrowIcon {
    width: 30px;

    @include breakpoints.desktop() {
      width: 50px;
    }
  }
}
