@use "variables" as v;
@use "breakpoints";
@use "mixins";
@use "modals";
@use "headers";

#landingPage {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  @include mixins.verticalCenterFlex;
  justify-content: flex-start;
  gap: 1em;
  height: 100vh;
  
  background-image:  linear-gradient(to left, rgba(v.$dominant-color, 0.3), rgba(v.$accent-color, 0.3)), url("../img/cup-of-coffee.jpg");
 
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoints.desktop() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-stop: normal;
  }

  .navigation {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    top: 0;
    color: whitesmoke;
    z-index: 100;
    transition: all 0.5s;

    .hamburger {
      margin-left: 30px;
      display: block;
      cursor: pointer;
      z-index: 102;
    
      @include breakpoints.desktop() {
        display: none;
        font-size: 1.2em;
        padding: 12px 15px;  
      }   
    }
    
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: whitesmoke;
    
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    

    .navigationList {
      position: fixed;
      @include mixins.verticalCenterFlex;
      justify-content: space-evenly;
      list-style: none;
      padding: 10px;
      transition: 0.5s;
      right: -100%;
      top: 100px;
      width: 100%; 
      height: 170px;

      @include breakpoints.desktop() {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        right: 0;
        top: 0;
        background: transparent !important;
        height: 100px;
      }

      .navListItem {
        text-align: center;
        width: 100%;

        @include breakpoints.desktop() {
        width: initial;
        border: none;
        }

        .navLink {
          text-decoration: none;
          transition: ease-in-out 0.2s;
          color: whitesmoke;
        }
      }

      .navLink:hover {
        font-size: 1.5em;
        font-weight: 500;

      }

      .navLink:visited {
        color: whitesmoke;
      }
      
    }

    .navigationList.active {
      right: 0;
      z-index: 101;
      background-color: rgba(45, 45, 45, 0.9);
    }


    /*
    
    .switchContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly; 
      width: 200px;
      padding: 0.5em;
      

      @include breakpoints.desktop() {
        position: absolute;
        right: 0;
      }
     
    
    .modeSwitch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      
      .modeInput {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

*/
}

  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: center;
    margin-top: 120px;

    @include breakpoints.desktop() {
      margin-top: 0;
    }

    .portfolioPresentation {
      color: whitesmoke;
      font-family: 'Caveat', cursive;
      font-size: 4em;

      @include breakpoints.desktop() {
        font-size: 6em;
      }
    } 
  } 

  .navScrolled {
    background-color: rgba(45, 45, 45, 0.9);
  }

  .hideNav {
    opacity: 0;
  }
}

#aboutMe {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4em;
  height: 100vh; 
  background-color: whitesmoke;
  padding: 1em;

  @include breakpoints.desktop() {
    scroll-snap-stop: normal;
    justify-content: space-between;
  }

  .descriptionContainer {   
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 0.5em;
    width: 100%;
    height: 40%;

    @include breakpoints.desktop() {
      gap: 1.5em;
    }

    .desktopLinkSection {
      display: none;
      

      @include breakpoints.desktop() {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1.5em;
        border-left: solid rgba(45, 45, 45, 0.3);
      }

      .smallHeading {
        font-family: v.$heading-font-family;
        font-size: 1em;
        text-decoration: underline;
      }

      .socialLinksList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 1em;

      .socialIconContainer {
        display: flex; 
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
      

      .socialIcon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
   .imageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    height: 40%;

     .myImage {
       width: 8em;
       border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
       animation: morph 8s linear infinite alternate;
  
       @include breakpoints.desktop() {
         width: 12em;
       }
     }
  
     @keyframes morph {
       0% {
         border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
       }
       100% {
         border-radius: 40% 60%;
       }
      }

      .mobileLinkSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include breakpoints.desktop() {
          display: none;
        }

        .smallHeading {
          font-family: v.$heading-font-family;
          font-size: 1.2em;
          text-decoration: underline;
        }

        .socialLinksList {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
          list-style: none;
          width: 100%;
          height: 40px;
        
          .socialIconContainer {
            display: flex; 
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
          
            .socialIcon {
              width: 22px;
              height: 22px;
          }
        }
      }
    }
  }

    .textContainer {
      width: 100%;

      @include breakpoints.desktop() {
        width: 40%;
      }
      
      .presentation {
        font-family: v.$heading-font-family;
        font-size: 1.4em;
        padding: 0.2em;
        line-height: 1.2em;

        @include breakpoints.desktop() {
          font-size: 2.5em;
        }
      }   

      .description {
        font-size: 0.8em;
        padding: 0.3em;

        @include breakpoints.desktop() {
          font-size: 1em;
        }

        .resumeLink {
          font-weight: 700;
          color: v.$dominant-color;
        }
      }
    }
  }

  .skillSection {
    overflow-x: hidden;
    overflow-y: hidden;
    @include mixins.verticalCenterFlex;
    justify-content: space-evenly;
    width: 90%;
    height: 35%;
    gap: 0.5em;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0 , 0.2);
    border-radius: 1em;
    border-right: double 10px lightgrey;
    border-left: double 10px lightgrey;
  
    @include breakpoints.desktop() {
      width: 60%;
      height: 30%;
      justify-content: flex-start;
      gap: 2em;
    }

    .skillsTitle {
      font-family: v.$heading-font-family;
      font-size: 1.5em;
      border-bottom: solid v.$navigationColor;

      @include breakpoints.desktop() {
        font-size: 1.8em;
        padding: 0.3em;
      }
    }


    .skillPageContainer {
      width: 200%;
      margin-left: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      
        .skillList {
          display: flex; 
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 1.5em;
          list-style: none;
          width: 100%;
          height: 100%;
 
        @include breakpoints.desktop() {
          gap: 3em;
        }
        
        .skillIcon {
        height: 60px;
        width: 60px;
      
        @include breakpoints.desktop(){
          height: 80px;
          width: 80px;
        }
      }
    }
  }

    .skillPageContainer.moveAside {
        margin-right: 200%;
        transition: 0.3s ease-in-out; 
      }
  
      .skillPageContainer.moveBack {
        transition: 0.3s ease-in-out; 
      }
  }
}

#myProjects {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  @include mixins.verticalCenterFlex;
  gap: 1em;
  height: 100vh; 
  background-color: whitesmoke;
  padding: 1em;

  @include breakpoints.desktop() {
    scroll-snap-stop: normal;
    gap: 1.5em;
  }
  
  .featuredContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include breakpoints.desktop() {
      width: 90%;
    }

    .featuredTitle {
      font-family: v.$heading-font-family;
      font-size: 1.2em;
      display: inline-block;

    @include breakpoints.desktop() {
       font-size: 1.8em;
      }
    }
  }

  .projectsGallery {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  
    @include breakpoints.desktop() {
      @include mixins.centeredFlexRow;
      gap: 1.5em;
      height: 60%;
      width: 90%;
    }

    .projectContainer {
      position: relative;
      display: flex;
      width: 100%;
      height: 50%;
      border-radius: 0.5em;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0 , 0.2);
      overflow: hidden;

      background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(grey, 0.2), transparent 40%);

      @include breakpoints.desktop() {
        height: 100%;
      }

      .imgContainer {
        width: 50%;
        height: 100%; 
        transform: skewX(-10deg);
        transform-origin: 100% 0; 
        overflow: hidden;
        cursor: pointer;

        @include breakpoints.desktop() {
          width: 70%;
        }

        .projectImage {
          width: 100%;
          height: 100%;
          object-fit: cover; 
          object-position: center;
          transform: skewX(10deg);
          transform-origin: 100% 0; 
        }
      }

      .imgContainer:hover { 
        border-right: solid 5px v.$accent-color;
        box-shadow: 0 0 8px v.$accent-color;
        transition: 0.2s ease-in-out;
      }

      .projectImage:hover {
        border-top: solid 5px v.$accent-color;
        border-bottom: solid 5px v.$accent-color;
        border-left: solid 5px v.$accent-color;
        box-shadow: 0 0 8px v.$accent-color;
        transition: 0.2s ease-in-out;
      }
      
      .summaryContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        padding: 0.5em;

        @include breakpoints.desktop() {
          padding: 1em;
          justify-content: center;
          gap: 2.5em;
        }
       
        .projectTitle {
          font-family: v.$heading-font-family;
          font-size: 1.8em;

          @include breakpoints.desktop() {
            font-size: 2.5em;
          }
        }
  
        .projectSummary {
          font-size: 0.8em;
          text-align: center;

          @include breakpoints.desktop() {
            font-size: 1em;
          }
        }

        .label {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.4em;
          background-color: rgba(grey, 0.7);
          color: white;
          border-radius: 0 0.5em 0 0;
          padding: 0.5em 1em;
          bottom: 0;
          left: 0;

          @include breakpoints.desktop() {
            left: auto;
            right: 0;
            gap: 1em;
            border-radius: 0.5em 0 0 0;
            width: 30%;
            background-color: grey;
          }
        }

        .codeTag {
          font-size: 0.8em;
          font-weight: bold;

          @include breakpoints.desktop() {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

#contactMe {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  @include mixins.verticalCenterFlex;
  gap: 2em;
  height: 100vh;
  background-color: whitesmoke;
  padding: 1em;

  @include breakpoints.desktop() {
    scroll-snap-stop: normal;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75%;
    width: 85%;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0 , 0.2);

    @include breakpoints.desktop() {
      width: 50%;
    }

    .formTitle {
      font-family: v.$heading-font-family;
      font-size: 1.5em;

      @include breakpoints.desktop() {
        font-size: 2em;
      }
    }

    .inputSection {
      width: 100%;

      @include breakpoints.desktop() {
        width: 70%;
      }
      
      .inputBar {
        padding: 1em;
        box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0 , 0.4);
        border: none;
        border-radius: 2em;
        width: 100%;
        
        @include breakpoints.desktop() {
        padding: 1.2em;
      }
    }
  }
    
    .messageSection {
      width: 100%;
      
      @include breakpoints.desktop() {
        width: 70%;  
      }

    .messageBox {
      resize: none;
      padding: 1em;
      box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0 , 0.4);
      border: none;
      border-radius: 1em; 
      width: 100%;

      @include breakpoints.desktop() {
        padding: 1.2em;
        width: 100%;
      }
    }
  }

    .inputLabels {
      font-family: v.$heading-font-family;
      display: block;
      margin: 10px 0 2px 8px;
      font-size: 1em;

      @include breakpoints.desktop() {
        margin: 12px 0 5px 8px;
        font-size: 1.2em;
      }
    }

    .inputBar:focus, 
    .messageBox:focus {
      outline: solid 1px v.$accent-color;
      border-color: v.$accent-color;
      box-shadow: 0 0 7px rgba(v.$accent-color, 0.6);
    } 
    
    .inputBar::placeholder, 
    .messageBox::placeholder {
      font-size: 0.8em;
      font-family: v.$base-font-family;

      @include breakpoints.desktop() {
        font-size: 1em;
      }
    }  
  }  
}

#pageBottom {
  @include mixins.centeredFlexRow;
  width: 100%;
  height: 8em;
  background-image:  linear-gradient(to left, rgba(v.$dominant-color, 0.3), rgba(v.$accent-color, 0.3)), url("../img/cup-of-coffee.jpg");
  background-size: cover;

  .copyright {
    color: v.$secondary-color;
  }
}


