@use "variables" as v;

@use "breakpoints";

@use "mixins";

#landingPage {
  @include mixins.verticalCenterFlex;
  justify-content: flex-start;
  gap: 1em;
  height: 100vh;
  
  background-image:  linear-gradient(to left, rgba(v.$dominant-color, 0.3), rgba(v.$accent-color, 0.3)), url("/src/img/cup-of-coffee.jpg");
 
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoints.desktop() {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navigation {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    top: 0;
    color: whitesmoke;
    z-index: 100;
    transition: all 0.5s;

    .hamburger {
      display: block;
      cursor: pointer;
      z-index: 102;
    
      @include breakpoints.desktop() {
        display: none;
        font-size: 1.2em;
        padding: 12px 15px;      
      }   
    }
    
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: white;
    
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    

    .navigationList {
      position: fixed;
      @include mixins.verticalCenterFlex;
      justify-content: space-evenly;
      list-style: none;
      padding: 10px;
      transition: 0.5s;
      right: -100%;
      top: 100px;
      width: 100%; 
      height: 170px;

      @include breakpoints.desktop() {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        right: 0;
        top: 0;
        background: transparent !important;
        height: 100px;
      }

      .navListItem {
        text-align: center;
        width: 100%;

        @include breakpoints.desktop() {
        width: initial;
        border: none;
        }

        a {
          text-decoration: none;
          transition: ease-in-out 0.2s;
        }
      }

      a:hover {
        font-size: 1.5em;
        font-weight: 500;

      }

      a:visited {
        color: whitesmoke;
      }
      
    }

    .navigationList.active {
      right: 0;
      z-index: 101;
      background-color: rgba(45, 45, 45, 0.9);
    }
    
    .switchContainer {
      display: flex;
      align-items: center;
      justify-content: space-evenly; 
      width: 200px;
      padding: 0.5em;
      

      @include breakpoints.desktop() {
        position: absolute;
        right: 0;
      }
     
    
    .modeSwitch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      
      .modeInput {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}
}

  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: center;
    margin-top: 120px;

    @include breakpoints.desktop() {
      margin-top: 0;
    }

    .portfolioPresentation {
      color: whitesmoke;
      font-family: 'Caveat', cursive;
      font-size: 4em;

      @include breakpoints.desktop() {
        font-size: 6em;
      }
    } 
  } 

  .navScrolled {
    background-color: rgba(45, 45, 45, 0.9);
  }

  .hideNav {
    opacity: 0;
  }
}

#aboutMe {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  background-color: whitesmoke;
  padding: 1em;

  .aboutHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;

    background-image: linear-gradient(to left, rgba(v.$dominant-color, 0.3), rgba(v.$accent-color, 0.3)), url("/src/img/open-book.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-mask-image: linear-gradient(
      rgba(0, 0, 0,  1) 40%, 
      rgba(0, 0, 0, 0.5) 70%, 
      rgba(0, 0, 0,  0)
    );
    mask-image: linear-gradient(
      rgba(0, 0, 0, 1) 40%, 
      rgba(0, 0, 0, 0.5) 70%, 
      rgba(0, 0, 0, 0)
    );

    @include breakpoints.desktop() {
      align-items: flex-start;
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      -webkit-mask-image: linear-gradient(
      rgba(0, 0, 0,  1) 60%, 
      rgba(0, 0, 0, 0.5) 70%, 
      rgba(0, 0, 0,  0)
    );
    mask-image: linear-gradient(
      rgba(0, 0, 0, 1) 60%, 
      rgba(0, 0, 0, 0.5) 80%, 
      rgba(0, 0, 0, 0)
    );

    }
 
    .title {
      color: whitesmoke;
      text-align: center;
      font-family: v.$heading-font-family;
      font-size: calc(v.$heading-font-size*1.5);
  
      @include breakpoints.desktop() {
        margin-top: 0.8em;
        font-size: calc(v.$heading-font-size*2);
      }
    }
  }

  .descriptionContainer {   
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 0.5em;
    width: 100%;
    height: 40%;

    @include breakpoints.desktop() {
      gap: 1.5em;
    }

    .desktopLinkSection {
      display: none;
      

      @include breakpoints.desktop() {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1.5em;
        border-left: solid rgba(45, 45, 45, 0.3);
      }

      .smallHeading {
        font-family: v.$heading-font-family;
        font-size: 1em;
        text-decoration: underline;
      }
      
      .socialLinksList {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 1em;

      .socialIconContainer {
        display: flex; 
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
      

      .socialIcon {
        width: 25px;
        height: 25px;
      }
    }
  }
}


   .imageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    height: 100%;

     .myImage {
       width: 8em;
       border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
       animation: morph 10s linear infinite alternate;
  
       @include breakpoints.desktop() {
         width: 12em;
       }
     }
  
     @keyframes morph {
       0% {
         border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
       }
       100% {
         border-radius: 40% 60%;
       }
      }

      .mobileLinkSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include breakpoints.desktop() {
          display: none;
        }

        .smallHeading {
          font-family: v.$heading-font-family;
          font-size: 1.2em;
          text-decoration: underline;
        }

        .socialLinksList {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
          list-style: none;
          width: 100%;
          height: 40px;
        
          .socialIconContainer {
            display: flex; 
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
          
            .socialIcon {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }

    .textContainer {
      width: 100%;

      @include breakpoints.desktop() {
        width: 40%;
      }
      
      .presentation {
        font-family: v.$heading-font-family;
        font-size: 1.4em;
        padding: 0.2em;
        line-height: 1.2em;

        @include breakpoints.desktop() {
          font-size: 2.5em;
        }
      }   

      .description {
        font-size: 0.8em;
        padding: 0.3em;

        @include breakpoints.desktop() {
          font-size: 1em;
        }
      }
    }
  }

  .skillsContainer {
    @include mixins.verticalCenterFlex;
    justify-content: center;
    width: 100%;
    height: 40%;
    gap: 1.5em;

    @include breakpoints.desktop() {
      border-bottom: none;
    }

    .smallHeading {
      font-family: v.$heading-font-family;
      font-size: 1.5em;
    }
    
    .skillList {
      display: flex; 
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1.5em;
      list-style: none;
      width: 100%;

    @include breakpoints.desktop() {
      gap: 4em;
    }
  }

  .skillIcon {
    height: 70px;
    width: 70px;

    @include breakpoints.desktop(){
      height: 80px;
      width: 80px;
    }
  }
}
}

#myProjects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; 
  background-color: whitesmoke;
  padding: 1em;

  @include mixins.verticalCenterFlex;
  border: solid blue;
  height: 100vh;

  .aboutHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;

    background-image: linear-gradient(to left, rgba(v.$dominant-color, 0.3), rgba(v.$accent-color, 0.3)), url("/src/img/open-book.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-mask-image: linear-gradient(
      rgba(0, 0, 0,  1) 40%, 
      rgba(0, 0, 0, 0.5) 70%, 
      rgba(0, 0, 0,  0)
    );
    mask-image: linear-gradient(
      rgba(0, 0, 0, 1) 40%, 
      rgba(0, 0, 0, 0.5) 70%, 
      rgba(0, 0, 0, 0)
    );

    @include breakpoints.desktop() {
      align-items: flex-start;
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      -webkit-mask-image: linear-gradient(
      rgba(0, 0, 0,  1) 60%, 
      rgba(0, 0, 0, 0.5) 70%, 
      rgba(0, 0, 0,  0)
    );
    mask-image: linear-gradient(
      rgba(0, 0, 0, 1) 60%, 
      rgba(0, 0, 0, 0.5) 80%, 
      rgba(0, 0, 0, 0)
    );

    }
 
    .title {
      color: whitesmoke;
      text-align: center;
      font-family: v.$heading-font-family;
      font-size: calc(v.$heading-font-size*1.5);
  
      @include breakpoints.desktop() {
        margin-top: 0.8em;
        font-size: calc(v.$heading-font-size*2);
      }
    }
  }

  .featuredContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .smallHeading {
      font-family: v.$heading-font-family;
      font-size: 1.2em;
      display: inline-block;
    }

  }

  .projectsGallery {
    border: solid black;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .projectImage {
      border: solid black;
      width: 100%;
      height: 100%;

    }
  }

}

#contactMe  {
  @include mixins.verticalCenterFlex;
  border: solid blue;
  height: 100vh;
}

#pageBottom {
  @include mixins.centeredFlexRow;
  border: solid blue;
  width: 100%;
  height: 70px;
}
