$dominant-color: rgb(114, 9, 183);
$secondary-color: whitesmoke;
$accent-color: rgb(247, 37, 133);
$navigationColor: rgb(45, 45, 45);

$base-font-family: "Roboto Slab", serif;
$heading-font-family: "Caveat", cursive;
$base-font-size: 16px;
$heading-font-size: 2em;
$font-spacing: 1.5;
