

$dominant-color: rgb(114, 9, 183);
$secondary-color: whitesmoke;
$accent-color: rgb(247, 37, 133);

$base-font-family: 'Roboto Slab', serif;
$heading-font-family: 'Caveat', cursive;;
$base-font-size: 16px;
$font-spacing: 1.5;

$tablet: 576px;
$tablet: 768px;
$large-desktop: 1200px;