

$primary-color: #03312E;
$secondary-color: #00B9AE;

$other-color: whitesmoke;

$base-font-family: 'Roboto Slab', serif;
$heading-font-family: 'League Spartan', sans-serif;
$base-font-size: 16px;

$font-spacing: 1.5;

$tablet: 576px;
$tablet: 768px;
$large-desktop: 1200px;