@use "variables" as v;
@use "breakpoints";
@use "mixins";
@use "modals";
@use "headers";

#contactMe {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  @include mixins.verticalCenterFlex;
  gap: 2em;
  height: 100vh;
  background-color: whitesmoke;
  padding: 1em;

  @include breakpoints.desktop() {
    scroll-snap-stop: normal;
    gap: 5em;
  }

  .contactInfoSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.7em;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);

    @include breakpoints.desktop() {
      padding: 2em;
      width: 60%;
    }

    .topTitle {
      font-family: v.$heading-font-family;
      font-size: 2em;
      text-decoration: underline;
    }

    .contactTitle {
      font-size: 1.1em;
    }

    .socialLinksList {
      display: flex;
      gap: 1.5em;
      list-style-type: none;

      .socialIconContainer {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;

        .socialIcon {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
