@use "variables" as v;
@use "breakpoints";
@use "mixins";
@use "modals";
@use "headers";
@use "navigation";

#landingPage {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  @include mixins.verticalCenterFlex;
  justify-content: flex-start;
  gap: 1em;
  height: 100vh;

  /*background-image: linear-gradient(
      to left,
      rgba(v.$dominant-color, 0.3),
      rgba(v.$accent-color, 0.3)
    ),
    url("../img/cup-of-coffee.jpg");
    */

  //background-repeat: no-repeat;
  //background-size: cover;

  @include breakpoints.desktop() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-stop: normal;
  }

  #myVideo {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to left,
      rgba(v.$dominant-color, 0.5),
      rgba(v.$accent-color, 0.5)
    );
    z-index: -1;
  }

  #hero {
    display: flex;
    flex-direction: column;
    padding: 2em;
    text-align: center;
    margin-top: 150px;
    animation: onLoadScale 1s;

    @include breakpoints.desktop() {
      margin-top: 0;
    }

    .portfolioPresentation {
      color: v.$secondary-color;
      font-family: v.$heading-font-family;
      font-size: 2em;

      @include breakpoints.desktop() {
        font-size: 5em;
      }
    }

    .myTitle {
      color: v.$secondary-color;
      font-size: 3em;

      @include breakpoints.desktop() {
        font-size: 5em;
      }
    }

    @keyframes onLoadScale {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  .navScrolled {
    background-color: rgba(45, 45, 45, 0.9);
  }

  .hideNav {
    opacity: 0;
  }
}
