@use "breakpoints";
@use "variables" as v;
@use "mixins";
@use "navigation";
@use "landingPage";
@use "buttons";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lobster&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: v.$base-font-family;
  font-size: v.$base-font-size;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  #allProjects {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    @include mixins.verticalCenterFlex;
    gap: 1em;
    background-color: whitesmoke;

    @include breakpoints.desktop() {
      scroll-snap-stop: normal;
      gap: 1.5em;
    }

    .projectsGallery {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      align-items: center;
      padding: 1em;

      @include breakpoints.desktop() {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 420px);
        padding: 2em;
      }

      .modalSection {
        max-width: 85%;
        margin: auto;
        border: none;
        padding: 0.5em;

        @include breakpoints.desktop() {
          max-width: 60%;
          padding: 2em;
        }

        .modalContent {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5em;

          @include breakpoints.desktop() {
            gap: 1.5em;
          }

          .modalImg {
            border: 2px solid lightgrey;
            border-radius: 0.5em;
            width: 100%;
          }

          .modalCloseButton {
            padding: 6px 30px;
            border-radius: 2em;
            font-size: 0.8em;
            border: 5px double v.$accent-color;
            box-shadow: 0 0 8px v.$accent-color;
            cursor: pointer;
            transition: all 0.3s;

            @include breakpoints.desktop() {
              font-size: 1em;
            }
          }

          .modalCloseButton:hover {
            color: v.$accent-color;
            box-shadow: 0 0 20px v.$accent-color;
          }

          .modalCloseButton:active {
            border: 5px solid;
            background-color: rgba(v.$accent-color, 0.2);
          }
        }
      }

      .modalSection::backdrop {
        background: rgba(v.$navigationColor, 0.6);
      }

      .projectContainer {
        position: relative;
        display: flex;
        width: 100%;
        height: 260px;
        border-radius: 0.5em;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;

        background: radial-gradient(
          800px circle at var(--mouse-x) var(--mouse-y),
          rgba(grey, 0.2),
          transparent 40%
        );

        @include breakpoints.desktop() {
          height: 100%;
        }

        .label {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.4em;
          background-color: rgba(grey, 0.7);
          color: white;
          border-radius: 0 0.5em 0 0;
          padding: 0.5em 1em;
          bottom: 0;
          left: 0;

          @include breakpoints.desktop() {
            left: auto;
            right: 0;
            gap: 1em;
            border-radius: 0.5em 0 0 0;
            width: 30%;
            background-color: grey;
          }
        }

        .codeTag {
          font-size: 0.8em;
          font-weight: bold;

          @include breakpoints.desktop() {
            font-size: 1.2em;
          }
        }

        .imgContainer {
          width: 50%;
          height: 100%;
          transform: skewX(-10deg);
          transform-origin: 100% 0;
          overflow: hidden;
          cursor: pointer;

          @include breakpoints.desktop() {
            width: 70%;
          }

          .projectImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transform: skewX(10deg);
            transform-origin: 100% 0;
          }
        }

        .imgContainer:hover {
          border-right: solid 5px v.$accent-color;
          box-shadow: 0 0 8px v.$accent-color;
          transition: 0.2s ease-in-out;
        }

        .projectImage:hover {
          border-top: solid 5px v.$accent-color;
          border-bottom: solid 5px v.$accent-color;
          border-left: solid 5px v.$accent-color;
          box-shadow: 0 0 8px v.$accent-color;
          transition: 0.2s ease-in-out;
        }

        .summaryContainer {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 50%;
          padding: 1.5em 1em;

          @include breakpoints.desktop() {
            margin-top: 20px;
            height: 70%;
          }

          .projectTitle {
            font-family: v.$heading-font-family;
            font-size: 1.5em;
            width: 90%;
            text-align: center;

            @include breakpoints.desktop() {
              width: 75%;
              text-align: center;
              font-size: 2.2em;
            }
          }

          .projectSummary {
            font-size: 0.8em;
            @include breakpoints.desktop() {
              font-size: 1em;
            }
          }

          .seeProjectButton {
            padding: 10px 30px;
            border-radius: 2em;
            font-size: 0.8em;
            background-color: transparent;
            border: 5px double v.$accent-color;
            box-shadow: 0 0 8px v.$accent-color;
            cursor: pointer;
            transition: all 0.3s;

            @include breakpoints.desktop() {
              font-size: 1em;
            }
          }

          .seeProjectButton:hover {
            color: v.$accent-color;
            box-shadow: 0 0 20px v.$accent-color;
          }

          .seeProjectButton:active {
            border: 5px solid;
            background-color: rgba(v.$accent-color, 0.2);
          }
        }
      }
    }
  }
}
